body {
    background-color: white;
    text-align: center;
}

.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background::before {
  content: "";
  background-image: url("Images/backgroundimg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Put it behind the content */
}

.jumbotron {
  border: 3px solid black;
  background-color: #125740;
  color: white;
  font-size: 18px;
}

.homeimg {
  width: 1000px;
  height: auto;
  border: 3px solid #125740;
}

.homeimg2 {
  border: 3px solid white; 
  height: 800px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px  
}


.homeimg3 {
  width: 560px;
  height: 315px;
  border: 3px solid #125740;
}

.imagenav {
  width: 100px;
}

.list {
  text-align: left;
  margin-left: 10px;
}
.arrow {
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    border-style: solid;
    border-color: #125740 ;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 75ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.container-fluid {
  padding: 0%;
}


  .explorenav {
    display: inline-block;
    padding: 10px 20px;
    background-color: #;
    border: 5px solid #125740;
    color: #125740;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
  }
  
  .breadcrumblink1 {
    color: #125740;
  }
  
  .breadcrumb-item {
    color: white;
  }

 /*FOOTER*/
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  
  bottom: 0;
  width: 100%;
  
}

.social-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: black;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.social-icons a:hover {
  background-color: #ddd;
}

.social-icons i {
  font-size: 20px;
}

.p2 {
  margin: 0;
  font-size: 14px;
  color: black;
}

.social {
  text-decoration: none;
}
/*--------------------*/


.imagegallery1 {
  width: 400px;
  height: auto;
  border: 3px solid black; 
}

a {
  color: black;
  text-decoration: none;
}

.p1 {
  font-size: 20px;
}

.p3 {
  font-size: 25px;
}